{% extends "base.html.twig" %}

{% block title "Paining Technique" %}

{% block header %}
    {% set currentPage = 'technique' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Живопись - техника выполнения</h3>
                    <div class="content">
                        <p><img class="pull-left" alt="v_masterskoy" src="{{ asset('img/upload/v_masterskoy.jpg') }}"></p>
                        <p><strong>Чтобы заказать портрет</strong>, вам нужно подобрать несколько самых лучших фотографий, где на ваш взгляд хорошо отражается характер и индивидуальные черты портретируемого. Фотографии-исходники должны быть четкие, хорошего качества. Эти фотографии вы передаете художнику в работу.</p>
                        <p><strong>Автор подберет несколько вариантов композиции</strong> для выполнения будущего портрета и  согласовывает их с вами. Вы выбираете размер холста для будущей картины, фон (на историческом фоне, на фоне природы, в интерьере определенной эпохи) или костюм (в старинном костюме, в национальной одежде, в военном мундире),  возможно пернесение образа на полотно известного художника. Если у вас нет готовой идеи, то художник поможет вам, предложит свое видение и несколько визуализаций в электронном виде.</p>
                        <p><strong>Заказывая портрет по фото у Ашота вы гарантированно получите работу маслом. </strong>Художник напишет портрет масляными красками,  которые со временем не выцветут, будут яркими и насыщенными,  портрет многие годы будет радовать владельцев и наследников. И даже в том случае, если вы не профессиональный ценитель живописи, вы визуально увидите, что портрет действительно написан маслом.</p>
                        <p>Вы должны знать, что сегодня полиграфические технологии развиваются, и есть художники, которые делают портрет по фото методом фотопечати (печать на холсте специальными красками, которые имитируют масло). Потом для придания картине натуральности наносят отдельные мазки маслом. Хотя у такого "художника" вы получите красивый портрет с эффектом живописи маслом, но это не будет настоящей живописью, и такая работа по стоимости не может быть такой же как и настоящий портрет.</p>
                        <p>Ашот, работая над вашим заказом, может демонстрировать вам фото промежуточных этапов создания портрета, чтобы вы могли внести свои пожелания и увидеть весь процесс написания портрета.</p>
                        <p><b>Сроки выполнения </b>работы всегда оговариваются индивидуально. Если вы заказываете портрет-сюрприз на подарок, то о  подготовке такого презента вам стоит побеспокоиться заранее. Создание портрета в среднем занимает от 2 до 4 недель в зависимости от композиции. Также несколько дней займет заказ и создание обрамления для картины в багетной мастерской.</p>
                        <p><b>Оформление картины рамой </b>дает работе художника законченный вид. Чтобы правильно подобрать раму для портрета (багет или безрамное оформление) нужно учитывать стиль интерьера, в котором будет размещаться картину, стиль самого портретного образа и эпохи, воссозданной на картине. Художник по вашему запросу проконсультирует вас и поможет в выборе оформления картины.</p>
                        <p><strong>Стоимость работы</strong> обсуждается индивидуально с вами. Стоимость может варьироваться в зависимости от сложности и сроков выполнения, качества предоставленных исходников, размера картины.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 wow fadeInUp">
                            <div class="member">
                                <img src="{{ asset('img/upload/Radutniy.jpg') }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="member">
                                <img src="{{ asset('img/upload/junior.jpg') }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="member">
                                <img src="{{ asset('img/upload/Julia.jpg') }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="member">
                                <img src="{{ asset('img/upload/Raisa.jpg') }}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </section>
    </main>
{% endblock %}
