{% extends "base.html.twig" %}

{% block title "СМИ ОБ АВТОРЕ" %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Ашот Арутюнян ...знакомит нас с потерянным нами Киевом</h3>
                    <div class="content">
                        <div class="content">
                            <p>
                                <a target="_blank" href="http://mycityua.com/history/2007/03/19/120012.html">
                                    <img alt="logo_gpk" src="{{ asset('img/upload/logo_gpk.gif') }}" height="21" width="80">
                                    Газета по-киевски, Рубрика: Ретро-клуб, 19 марта 2007
                                </a>
                            </p>
                            <img class="pull-left" alt="Ashot" src="{{ asset('img/upload/lost_kiev/retro_club.jpg') }}" height="150" width="150">
                            <p><strong>Альбом о прошлом – пощечина нынешним властям</strong></p>
                            <p>Об издателе киевской старины Ашоте Арутюняне и его альбомах "Газета..." уже писала. Сейчас он готовит к выпуску новое издание – "Киев в ХХ веке", где хочет показать всю жизнь столицы от 1900 до 2000 года. "Газета..." разузнала о том, как готовится большое издание о светлом киевском прошлом.</p>
                            <p><strong>Из 10 тысяч фото использовали только треть</strong></p>
                            <div class="pull-right">
                                <img alt="retro1" src="{{ asset('img/upload/lost_kiev/retro1.jpg') }}" height="390" width="250">
                                <p class="description"><i>Испытание на прочность Московского<br>моста в ноябре 1976 г.</i></p>
                            </div>
                            <p>Ашот – завсегдатай архивов, "блошиных" рынков и коллекционерских тусовок. Поселившись здесь 30 лет назад, он сменил немало занятий – успел побывать и художником (рисовал афиши для кинотеатров), и ресторатором (любимое детище – ресторан "Наполеон", светлая ему память), и основателем первого в Украине рекламного агентства. И увлекся Киевом, особенно старым, тем, который мы уже безвозвратно потеряли.</p>
                            <p>Сейчас же любовь к старому Киеву он превратил в профессию – издает ностальгические альбомы: посвященный Великой Отечественной войне, сравнительный альбом памятных мест прошлого и то, как они выглядят сейчас, альбом о Киеве конца XIX века.</p>
                            <p>Его издания и для молодых – чтобы знали, как люди жили раньше, и для "постарше" – чтобы слегка поностальгировали, вспоминая о том, как это было.</p>
                            <p>Ныне занят проектом фотоальбома о Киеве в XX веке. Но что-то очень уж в муках рождается этот фотоальбом. Обычно от замысла до готовой книги проходит около полугода. Над этим же детищем он трудится уже два года. Собирает материал: фото и даже вещи эпохи, снимки которых тоже размещает на страницах – выискивает в архивах, подбирает стоп-кадры документальных фильмов, покупает у коллекционеров. Изначально для этого альбома подобрал около 10 тыс. фотографий, а сумел вместить только 2700.</p>
                            <p><strong>За фото старого паспорта – $100</strong></p>
                            <p>Если что-то не может купить – фотографирует. Сожалеет о том, что многие из коллекционеров занимаются собирательством не из любви к городу, а исключительно из-за денег. Как-то увидел паспорт киевлянина за 1911 год, захотел поместить его в альбом, а владелец раритета запросил за фотографирование $100(!).</p>
                            <div class="pull-left">
                                <img alt="retro2" src="{{ asset('img/upload/lost_kiev/retro2.jpg') }}" height="380" width="250">
                                <p class="description"><i>Работница промсовхоза Молотовского<br>района А.Разевич во время посадки<br>пальм-драцен на ул. Артема,<br>27 мая 1950г.</i></p>
                            </div>
                            <p>Толстенный макет альбома можно листать часами, рассматривая такие знакомые и незнакомые улицы: вот на улице Артема весной устанавливают контейнеры с драценами, вот станцию метро "Днепр" затопил паводок 1970 года, вот стройными рядами грузовиков испытывают на прочность Московский мост в 1976 году... Есть редкие фото – советский солдат возле разрушенного храма со сложенными то ли для молитвы, то ли от удивления руками.</p>
                            <p>Вместил издатель и планы, которым в свое время не суждено было сбыться. На склонах Днепра собирались строить высотные здания – еще громаднее монстра на Грушевского. Как ни кощунственно это звучит, но война прекратила такое надругательство над склонами. Что же сейчас должно случиться, чтобы правый берег перестали уродовать высотками?</p>
                            <p>Чтобы не было никаких казусов, для проверки Ашот дает материалы историкам на ознакомление. Те иногда со скепсисом относятся к авторскому подбору иллюстраций, например, сомнения вызвал плакат "Родина-Мать зовет", мол, какое отношение он имеет к Украине и Киеву. Но издатель "Мать" отстоял.</p>
                            <p>– А мы в какой стране жили? – возмущается Ашот. – В советской, конечно, и эти плакаты были на наших улицах, а значит, они иллюстрируют ту эпоху.</p>
                            <p><strong>"Сливкам" альбом не нужен</strong></p>
                            <div class="pull-right">
                                <img alt="retro3" src="{{ asset('img/upload/lost_kiev/retro3.jpg') }}" height="196" width="300">
                                <p class="description"><i>Брест-Литовский проспект (проспект Победы)<br>во время наводнения в мае 1977 г.</i></p>
                            </div>
                            <p>Выпустить в свет такое значительное издание – дело нелегкое. Только на один черно-белый макет альбома, изготовленный в натуральную величину, уходит 1500 грн, на цветной – все 3000 грн. Поняв, что самому финансово справиться с изданием будет сложно, Ашот хотел подключить известных и состоятельных людей. Написал 470 писем "сливкам общества" с предложением о сотрудничестве. Заманивал даже возможностью для самого большого партнера разместить фото из его личного архива, если они, конечно, будут представлять историческую ценность и передавать настроение эпохи.</p>
                            <p>Не сработало. В ответ получил всего девять отзывов и только два из них – от Тимошенко и Ахметова – более-менее обнадеживающие. Мол, ждите ответа, ваше письмо с предложением "поучаствовать" направлено на рассмотрение.</p>
                            <p>– Я понял, – вздыхает Ашот, – не нужен нынешним власть предержащим альбом, который напоминал бы о том, какую красоту они разрушили. Это им как пощечина. Ведь каждая власть рушит старое и строит новое.</p>
                            <p>Но альбом он все равно выпустит. Просто времени на это понадобится больше.</p>
                            <p class="text-right"><em>Автор: Ольга СОЛОМКА</em></p>
                        </div>
                    </div>
                </header>
            </div>
        </section>
    </main>
{% endblock %}
