{% extends "base.html.twig" %}

{% block title "Books" %}

{% block header %}
    {% set currentPage = 'books' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Книги и фотоальбомы</h3>
                    <div class="content">
                        <p>
                            У всего есть своя история – у эпохи, у страны, у семьи и у отдельного человека. И фиксировать события своей жизни начали еще древние люди, делая первые наскальные рисунки. Потом создавали рукописные летописи, затем появились первые книги. Но только с появлением фотографии мы получили возможность увидеть неповторимую атмосферу прошлого, детали времени, которые не ускользнули от фотокамеры, искренние улыбки людей,  - все то, чего не найти в трудах ученых мужей. Фотографии являются своеобразной захватывающей экскурсией в прошлое, они своим механическим способом схватывания действительности столько лет со дня своего рождения говорили нам: «Было! Было. Было…» ...
                            <span class="btn btn-sm btn-danger collapse-text-down" data-target-id="collapse-text">
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </p>
                        <div class="collapse" id="collapse-text">
                            <p>Эти кусочки – отдельные фотографии, как элементы в мозаичной картине, собирают мир, которого уже нет, но который запечатлен в них. Фотография – это язык и способ преодоления небытия. Как известно, жизнь скоротечна, и то, что сегодня нам кажется вечным и незыблемым, завтра становится фантомом. А фотография помогает людям мысленно вернуться в прошлое. Бессмертие действительно существует там: в новом мире, созданном в момент нажатия на кнопку фотоаппарата. А зритель, вновь и вновь разглядывающий картинку, закрепляет это бессмертие собой, своим восприятием. Фотография – способ рождения бессмертия… На фотографии в ту долю секунды, которая запечатлена на снимке, бессмертны люди, предметы, события...</p>
                            <p>Из десятков и сотен обрывочных фото-образов длиной в долю секунды можно сложить целую своеобразную ленту жизни. Именно этим и интересны и знамениты книги и фотоальбомы Ашота. Он занялся издательским делом в начале 90-х, когда в Украине почти не печатали новых книг. Первой ласточкой его издательской деятельности был сборник «Мальовнича Украина», которую отпечатал в Мюнхене – шикарное красочное издание. Его работа понравилась, и поступили заказы с высот Печерских холмов. Сделал две книги для Кучмы, выпустил фотоальбом для Туркменбаши, потом - фотоальбом для Черномырдина. Он гордится тем, что делал книги первым лицам государства.</p>
                            <p>Но больше всего он увлечен историей Киева – в своих фотоальбомах он хочет показать город, с которым связала его судьба, в котором происходило его формирование как творческой личности. Любовь к старому Киеву Ашот передал в своих работах – ностальгических альбомах, посвященных Великой Отечественной войне, сравнительном альбоме памятных мест прошлого Киева и современности, альбоме о Киеве конца XIX века. В фотоальбомах и книгах художника собраны уникальные архивные фотоматериалы. Они интересны тем, кто увлекается историей и архитектурой, и тем, кому интересно увидеть старый Киев, который мы уже безвозвратно потеряли. Эти издания и для молодых – чтобы знали, как люди жили раньше, и для людей "постарше" – чтобы могли полистать альбом, вспомнить и рассказать своим детям и внукам о том, как это было …</p>
                                <span class="btn btn-sm btn-danger collapse-text-up" data-target-id="collapse-text">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </p>
                        </div>
                        <div class="row books-gallery">
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/wedding.gif') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/wedding/razv6.jpg') }}" data-lightbox="weddingBook">
                                                    <img src="{{ asset('img/books/wedding/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/wedding/razv8.jpg') }}" data-lightbox="weddingBook">
                                                    <img src="{{ asset('img/books/wedding/razv8.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/wedding/razv91.jpg') }}" data-lightbox="weddingBook">
                                                    <img src="{{ asset('img/books/wedding/razv91.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/wedding/razv3.jpg') }}" data-lightbox="weddingBook">
                                                    <img src="{{ asset('img/books/wedding/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/wedding/razv4.jpg') }}" data-lightbox="weddingBook">
                                                    <img src="{{ asset('img/books/wedding/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/wedding/razv1.jpg') }}" data-lightbox="weddingBook">
                                                    <img src="{{ asset('img/books/wedding/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/wedding/razv2.jpg') }}" data-lightbox="weddingBook">
                                                    <img src="{{ asset('img/books/wedding/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/wedding/razv9.jpg') }}" data-lightbox="weddingBook">
                                                    <img src="{{ asset('img/books/wedding/razv9.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/wedding/razv5.jpg') }}" data-lightbox="weddingBook">
                                                    <img src="{{ asset('img/books/wedding/razv5.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/wedding/razv7.jpg') }}" data-lightbox="weddingBook">
                                                    <img src="{{ asset('img/books/wedding/razv7.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Ты моя единственная любовь"</h4>
                                    <p>Свадьба. Это пожалуй самое значимое событие в жизни человека. Это древний обряд, сопровождающийся обменом подарками, праздничным пиром и увеселениями. Конечно же, каждая молодая семья желает сохранить счастливые мгновения заключения брака. Мы предлагаем сделать это оригинально и удобно. Ваши фотографии не будут лежать кучей в пакете, а превратятся в красивый и презентабельный фотоальбом, который станет отличным подарком на годовщину свадьбы ("золотую", "серебрянную"), или к самому событию. Изготовление такого альбома потребует от Вас только предоставления фотоснимков в печатном или электронном виде, и затем дизайнер подготовит макет и после Вашего одобрения, через несколько дней, получите художественно оформленную книгу. Альбом может иметь до ста полноцветных страниц, твердую обложку (возможна и суперобложка), количество экземпляров - до 7 штук (а больше наверное и не надо). Стоимость одного фотоальбома составит от $200. Но это не значит, что 10 штук будут стоить в 10 раз дороже. Посмотреть пример фотоальбома можно здесь, или по клику на обложку слева.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/strana.gif') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/strana/razv6.jpg') }}" data-lightbox="ussrBook">
                                                    <img src="{{ asset('img/books/strana/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/strana/razv3.jpg') }}" data-lightbox="ussrBook">
                                                    <img src="{{ asset('img/books/strana/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/strana/razv4.jpg') }}" data-lightbox="ussrBook">
                                                    <img src="{{ asset('img/books/strana/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/strana/razv1.jpg') }}" data-lightbox="ussrBook">
                                                    <img src="{{ asset('img/books/strana/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/strana/razv2.jpg') }}" data-lightbox="ussrBook">
                                                    <img src="{{ asset('img/books/strana/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/strana/razv5.jpg') }}" data-lightbox="ussrBook">
                                                    <img src="{{ asset('img/books/strana/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Страна, которой нет"</h4>
                                    <p><strong>2007г., 256 стр., формат 60х90/8, ЗАО "Книга", Киев</strong><br>Этот фотоальбом посвящен тем, кто родился и вырос в СССР, кто помнит все или желает вспомнить. Это альбом-ностальгия, дающий возможность увидеть с помощью фотографии всем желающим то, чем жили "рожденные в СССР", что окружало их в детстве, юности и т.д. Общую тематику фотоальбома можно выразить фразой "А помните…" Ностальгия… Как много в этом слове…Это особое чувство, сродни тоске, грусти, это воспоминания о том, что было, но ушло безвозвратно.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/kadenyk.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv6.jpg') }}" data-lightbox="kadenykBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv3.jpg') }}" data-lightbox="kadenykBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv4.jpg') }}" data-lightbox="kadenykBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv1.jpg') }}" data-lightbox="kadenykBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv2.jpg') }}" data-lightbox="kadenykBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv5.jpg') }}" data-lightbox="kadenykBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Леонід Каденюк: я твій син, Україно"</h4>
                                    <p><strong>1998г., 166 стр., АТ "Книга", Киев</strong><br>Фотоальбом рассказывает о первом космонавте независимой Украины Леониде Каденюке, который 19 ноября 1997 года вместе с четырьмя астронавтами США и представителем Японии стартовал из мыса Канаверал (США) в космос на космическом корабле "Шаттл". Наполеон Бонапарт в своё время отметил: поражение в армии - это беда; утрата императора - двойная беда; утрата национального интеллекта - это полная катастрофа. Теперь, когда Украина переживает сложные времена, экономические неурядицы, утрата национального интеллекта становится реальной угрозой. Тем более символичной становится появление на орбите новой Украины Леонида Каденюка - Космонавта и Человека. Он достойно представляет интеллект нации как представитель военной, научной, технической элиты.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/chernom.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv6.jpg') }}" data-lightbox="chernomBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv3.jpg') }}" data-lightbox="chernomBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv4.jpg') }}" data-lightbox="chernomBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv1.jpg') }}" data-lightbox="chernomBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv2.jpg') }}" data-lightbox="chernomBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kadenyk/razv5.jpg') }}" data-lightbox="chernomBook">
                                                    <img src="{{ asset('img/books/kadenyk/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Ты знаешь край, где нивы золотые, испещрены лазурью васильков... Черномырдин и Украина"</h4>
                                    <p><strong>2006г., 175 стр., АТ "Книга", Киев</strong><br>Фотоальбом рассказывает о Викторе Черномырдине, который вот уже пять лет работает специальным представителем Президента России и Послом Российской Федерации в Украине. Этот неординарный человек начинал карьеру простым слесарем в российской глубинке, но со временем его фамилия стала значится на двери Председателя Правительсва России, а в течение нескольких часов он исполнял обязанности Президента России. Фотоальбом содержит большое количество материалов, посвященных непростым отношениям наших стран и их лидеров, и показывает Виктора Черномырдина в различных жизненных ситуациях.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/kiev_post.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/kiev_post/razv6.jpg') }}" data-lightbox="kievPostBook">
                                                    <img src="{{ asset('img/books/kiev_post/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kiev_post/razv3.jpg') }}" data-lightbox="kievPostBook">
                                                    <img src="{{ asset('img/books/kiev_post/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kiev_post/razv4.jpg') }}" data-lightbox="kievPostBook">
                                                    <img src="{{ asset('img/books/kiev_post/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kiev_post/razv1.jpg') }}" data-lightbox="kievPostBook">
                                                    <img src="{{ asset('img/books/kiev_post/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kiev_post/razv2.jpg') }}" data-lightbox="kievPostBook">
                                                    <img src="{{ asset('img/books/kiev_post/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kiev_post/razv5.jpg') }}" data-lightbox="kievPostBook">
                                                    <img src="{{ asset('img/books/kiev_post/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Кіевъ на почтовой открытке конца ХІХ начала ХХ века"</h4>
                                    <p><strong>2005г., 160 стр., формат 70х100 1/8, ЗАО "Книга", Киев</strong><br>Маленькая почтовая карточка - "открытое письмо", ставшая в нашей повседневной жизни обычным явлением, сто лет назад только входила в мировую культуру. Вслед за гениальным изобретением человечества - фотографией, иллюстрированная открытка многим людям дала возможность познакомиться с жизнью и культурой далеких стран, раздвинула рамки кабинетного познания, позволив каждому желающему иметь у себя дома коллекцию миниатюрных воспроизведений лучших образцов искусства. Этот фотоальбом, оформленный в стиле домашних альбомов наших бабушек собрал открытки с видами Киева конца ХІХ - начала ХХ веков.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/kievTT.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/kievTT/razv6.jpg') }}" data-lightbox="kievTtBook">
                                                    <img src="{{ asset('img/books/kievTT/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kievTT/razv3.jpg') }}" data-lightbox="kievTtBook">
                                                    <img src="{{ asset('img/books/kievTT/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kievTT/razv4.jpg') }}" data-lightbox="kievTtBook">
                                                    <img src="{{ asset('img/books/kievTT/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kievTT/razv1.jpg') }}" data-lightbox="kievTtBook">
                                                    <img src="{{ asset('img/books/kievTT/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kievTT/razv2.jpg') }}" data-lightbox="kievTtBook">
                                                    <img src="{{ asset('img/books/kievTT/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kievTT/razv5.jpg') }}" data-lightbox="kievTtBook">
                                                    <img src="{{ asset('img/books/kievTT/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Киевъ вчора і сьогодні"</h4>
                                    <p><strong>2002г., 224 стр., формат 62х94/16, Издательство "Ракурс-Артограф", Мюнхен - Киев - Москва</strong><br>Фотоальбом, предлагаемый вниманию читателя, показывает Киев в начале и в конце ХХ века. Благодаря специальному размещению изображений, читатель видит одну и ту же местность, но с разницей почти в 100 лет.  Уникальные архивные фотографии и неоднозначность современного Киева увлекают и затягивают, позволяя читателю совершить путешествие во времени.  Альбом отлично подойдет в качестве сувенира или оригинального подарка для людей, которые интересуются историей или архитектурой матери городов русских. К альбому прилагается вкладка с переводом текста на английский, французский, немецкий, испанский языки.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/kuchma1.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma1/razv6.jpg') }}" data-lightbox="kuchma1Book">
                                                    <img src="{{ asset('img/books/kuchma1/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma1/razv3.jpg') }}" data-lightbox="kuchma1Book">
                                                    <img src="{{ asset('img/books/kuchma1/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma1/razv4.jpg') }}" data-lightbox="kuchma1Book">
                                                    <img src="{{ asset('img/books/kuchma1/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma1/razv1.jpg') }}" data-lightbox="kuchma1Book">
                                                    <img src="{{ asset('img/books/kuchma1/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma1/razv2.jpg') }}" data-lightbox="kuchma1Book">
                                                    <img src="{{ asset('img/books/kuchma1/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma1/razv5.jpg') }}" data-lightbox="kuchma1Book">
                                                    <img src="{{ asset('img/books/kuchma1/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Леонід Кучма - Президент України"</h4>
                                    <p><strong>1998г., 155 стр., АТ "Книга", Киев</strong><br>Пройдут годы, и события, с которых начался отсчет независимости Украины, войдут в учебники истории одним из феноменов национального возрождения. Но история не бывает безлична. Потомкам она остается достоянием деяний конкретных людей. Нам, современникам Леонида Кучмы, трудно во всей глубине осознать роль его личности, столь очевидно повлиявший на ход событий. Но взглянуть на них с высоты только лишь первого прожитого в условиях независимости десятилетия - наше право. Мир полон самых противоречивых мнений об Украине и его лидере. Кому, как не нам, живущим на этой земле, виднее, что происходит на ней? Фотоальбом рассказывает о деятельности Леонида Кучмы на посту Президента Украины и издан в честь 60-ти-летия Президента</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/kuchma2.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma2/razv3.jpg') }}" data-lightbox="kuchma2Book">
                                                    <img src="{{ asset('img/books/kuchma2/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma2/razv4.jpg') }}" data-lightbox="kuchma2Book">
                                                    <img src="{{ asset('img/books/kuchma2/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma2/razv1.jpg') }}" data-lightbox="kuchma2Book">
                                                    <img src="{{ asset('img/books/kuchma2/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma2/razv2.jpg') }}" data-lightbox="kuchma2Book">
                                                    <img src="{{ asset('img/books/kuchma2/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kuchma2/razv5.jpg') }}" data-lightbox="kuchma2Book">
                                                    <img src="{{ asset('img/books/kuchma2/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Леонід Кучма"</h4>
                                    <p><strong>2003г., 222 стр., АТ "Книга", Киев</strong><br>Фотоальбом, изданный в честь 65-ти-летия Леонида Кучмы продолжает рассказ о его деятельности как Президента независимой Украины так и общественно-политической деятеля, активной благотворительной деятельности. Фотоальбом на украинском и английском языках.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/livia.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/livia/razv6.jpg') }}" data-lightbox="liviaBook">
                                                    <img src="{{ asset('img/books/livia/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/livia/razv3.jpg') }}" data-lightbox="liviaBook">
                                                    <img src="{{ asset('img/books/livia/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/livia/razv4.jpg') }}" data-lightbox="liviaBook">
                                                    <img src="{{ asset('img/books/livia/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/livia/razv1.jpg') }}" data-lightbox="liviaBook">
                                                    <img src="{{ asset('img/books/livia/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/livia/razv2.jpg') }}" data-lightbox="liviaBook">
                                                    <img src="{{ asset('img/books/livia/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/livia/razv5.jpg') }}" data-lightbox="liviaBook">
                                                    <img src="{{ asset('img/books/livia/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Ливия"</h4>
                                    <p><strong>1999г., 200 стр., АТ "Книга", Киев</strong><br>Ливия - это настоящая архитектурная жемчужина Средиземноморья. Археологические данные показывают, что ещё 8000 лет до нашей эры на территории Ливии существовали культуры неолита. Сегодня, Ливию многие знают как достаточно опасную и "неудобную" страну, т.к. еще в 1980-е годы под руководством лидера ливийской революции полковника Муаммара Каддафи, пользуясь высокими ценами на нефть, Ливия на себя финансирование вооружённой борьбы против «западного империализма» по всему миру. Предлагаемый фотоальбом позволит читателю самому сделать выводы и проникнуться по настоящему древней красотой этой Джамахирии.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/mal_ukr.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/mal_ukr/razv6.jpg') }}" data-lightbox="malUkraineBook">
                                                    <img src="{{ asset('img/books/mal_ukr/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/mal_ukr/razv3.jpg') }}" data-lightbox="malUkraineBook">
                                                    <img src="{{ asset('img/books/mal_ukr/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/mal_ukr/razv4.jpg') }}" data-lightbox="malUkraineBook">
                                                    <img src="{{ asset('img/books/mal_ukr/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/mal_ukr/razv1.jpg') }}" data-lightbox="malUkraineBook">
                                                    <img src="{{ asset('img/books/mal_ukr/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/mal_ukr/razv2.jpg') }}" data-lightbox="malUkraineBook">
                                                    <img src="{{ asset('img/books/mal_ukr/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/mal_ukr/razv5.jpg') }}" data-lightbox="malUkraineBook">
                                                    <img src="{{ asset('img/books/mal_ukr/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Мальовнича Україна"</h4>
                                    <p><strong>1997г., 192 стр., формат 30х50/8, АТ "Книга", Киев</strong><br> На страницах этого издания, с помощью фотографий, воссоздан зрительный образ живописной Украины - от Северного Донца до заснеженных карпатских вершин, от подеснянского Полесья до солнечных берегов Черного моря. Яркие и красочные фотографии различных уголков нашей страны покажут читателю все разнообразие и великолепие, данное нам природой.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/mariin.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/mariin/razv6.jpg') }}" data-lightbox="mariinBook">
                                                    <img src="{{ asset('img/books/mariin/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/mariin/razv3.jpg') }}" data-lightbox="mariinBook">
                                                    <img src="{{ asset('img/books/mariin/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/mariin/razv4.jpg') }}" data-lightbox="mariinBook">
                                                    <img src="{{ asset('img/books/mariin/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/mariin/razv1.jpg') }}" data-lightbox="mariinBook">
                                                    <img src="{{ asset('img/books/mariin/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/mariin/razv2.jpg') }}" data-lightbox="mariinBook">
                                                    <img src="{{ asset('img/books/mariin/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/mariin/razv5.jpg') }}" data-lightbox="mariinBook">
                                                    <img src="{{ asset('img/books/mariin/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Маріїнський палац у Києві"</h4>
                                    <p><strong>2005г., __ стр., формат _х_/_, АТ "Книга", Киев</strong><br>Как известно, Мариинский дворец — памятник архитектуры ХVIII—ХIХ столетий стиля барокко. Строительство дворца началось в 1752 году по желанию империатрицы Елизаветы Петровны, которая собиралась построить в Киеве свою летнюю резиденцию. В планировке интерьеров и создании сада принимала участие императрица Мария Александровна, в честь которой и был назван дворец. Для создания фотоальбому было получено специальное разрешение на проведение съемок, и теперь каждый желающий сможет оценить всю роскошь и красоту бывшей императорской резиденции.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/oldkiev.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/oldkiev/razv6.jpg') }}" data-lightbox="oldkievBook">
                                                    <img src="{{ asset('img/books/oldkiev/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/oldkiev/razv3.jpg') }}" data-lightbox="oldkievBook">
                                                    <img src="{{ asset('img/books/oldkiev/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/oldkiev/razv4.jpg') }}" data-lightbox="oldkievBook">
                                                    <img src="{{ asset('img/books/oldkiev/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/oldkiev/razv1.jpg') }}" data-lightbox="oldkievBook">
                                                    <img src="{{ asset('img/books/oldkiev/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/oldkiev/razv2.jpg') }}" data-lightbox="oldkievBook">
                                                    <img src="{{ asset('img/books/oldkiev/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/oldkiev/razv5.jpg') }}" data-lightbox="oldkievBook">
                                                    <img src="{{ asset('img/books/oldkiev/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Старый Киев"</h4>
                                    <p><strong>2005г., 312 стр., формат 62х94/8, Издательский дом "Перископ", Киев</strong><br>Киев. Это краткое слово, за которым стоит тысячелетняя история. Ученые и  искусствоведы тщательным образом изучают каждую страницу его летописи.  Но есть еще одна категория исследователей - художники и фотографы.  Именно они смогли сохранить для нас живые цвета, неповторимую атмосферу  города, искренние улыбки горожан - все то, чего не найти в трудах ученых  мужей. Более чем 700 уникальных фотографий этого альбома является  своеобразной захватывающей экскурсией в прошлое, в Киев конца ХIХ века. Этот альбом позволяет увидеть Киев таким, каким он был больше 100 лет назад. Улицы. Газеты. Трамваи. Люди. Церкви. Билеты. Программки. Авто. Мода. Парки. Издание состоит из 8 исторических частей.  Автор с помощью фотографии живо воскрешает прошлое города на Днепре, описывая быт, нравы, культуру, обычаи его жителей, дает фотографии отдельных известных личностей. Альбом напечатан на специальной, искусственно состаренной бумаге, которая помогает проникнутся духом старины и величия древнего Киева.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/war.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/war/razv6.jpg') }}" data-lightbox="warBook">
                                                    <img src="{{ asset('img/books/war/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/war/razv3.jpg') }}" data-lightbox="warBook">
                                                    <img src="{{ asset('img/books/war/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/war/razv4.jpg') }}" data-lightbox="warBook">
                                                    <img src="{{ asset('img/books/war/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/war/razv1.jpg') }}" data-lightbox="warBook">
                                                    <img src="{{ asset('img/books/war/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/war/razv2.jpg') }}" data-lightbox="warBook">
                                                    <img src="{{ asset('img/books/war/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/war/razv5.jpg') }}" data-lightbox="warBook">
                                                    <img src="{{ asset('img/books/war/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Вікопомний подвиг"</h4>
                                    <p><strong>2006г., 216 стр., формат 60х90/8, Издательство "Феникс", Киев</strong><br>Языком фотографии, плакатов и кадров кинохроники издание рассказывает о Украине в годы Второй мировой войны и посвящен сынам и дочкам всех народов Советского народа, которые защищали Советскую Украину от немецко-фашистских захватчиков. В фотоальбоме опубликован ряд материалов, ранее неиспользованных в других изданиях. Использованы плакаты и листовки времен Великой Отечественной войны из Книжной палаты Украины, а также фотографии из Центрального государственного кинофотофоноархива Украины имени Г.Пшеничного, из Центрального государственного архива высших органов власти и управления Украины, из Национальной библиотеки Баварии (Мюнхен, Германия), из фотоальбомов немцев, взятых в плен в годы Великой Отечественной войны. Использованы также трофейные фотографии и документы.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/shevch.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/shevch/razv6.jpg') }}" data-lightbox="shevchBook">
                                                    <img src="{{ asset('img/books/shevch/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/shevch/razv3.jpg') }}" data-lightbox="shevchBook">
                                                    <img src="{{ asset('img/books/shevch/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/shevch/razv4.jpg') }}" data-lightbox="shevchBook">
                                                    <img src="{{ asset('img/books/shevch/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/shevch/razv1.jpg') }}" data-lightbox="shevchBook">
                                                    <img src="{{ asset('img/books/shevch/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/shevch/razv2.jpg') }}" data-lightbox="shevchBook">
                                                    <img src="{{ asset('img/books/shevch/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/shevch/razv5.jpg') }}" data-lightbox="shevchBook">
                                                    <img src="{{ asset('img/books/shevch/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Київський національний університет імені Тараса Шевченка"</h4>
                                    <p><strong>2004г., 224 стр., формат 60х90/8, ЗАО "Книга", Киев</strong><br> Фотоальбом рассказывает о гордости украинского образования - Киевском Национальном университете имени Тараса Шевченко. Появление этой нарядной книги - свидетельство большого уважения и любви современного поколения сотрудников университета к своим предшественникам, к своему Храму науки, образования, культуры. Это символ благодарности всем тем, кто в течение 170-ти лет создавал бессмертную славу ведущего Университета Украины, а также указатель для ученых третьего тысячелетия.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/tak.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/tak/razv6.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/tak/razv6.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/tak/razv3.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/tak/razv3.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/tak/razv4.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/tak/razv4.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/tak/razv1.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/tak/razv1.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/tak/razv2.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/tak/razv2.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/tak/razv5.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/tak/razv5.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Фотоальбом "Так, Україно!"</h4>
                                    <p><strong>2005г., 192 стр., формат 70х100/8, АТ "Книга", Киев</strong><br> Фотолетопись Оранжевой революции в Украине - кампании протестов, митингов, пикетов, забастовки и других актов гражданского неповиновения в Украине, организованная и проведенная сторонниками Виктора Ющенко, основного кандидата, от оппозиции на президентских выборах в ноябре&nbsp;— декабре 2004 года, после объявления Центральной избирательной комиссией предыдущих результатов, согласно которым победил его соперник&nbsp;— Виктор Янукович. Акция началась 22 ноября 2004, как реакция на массовую фальсификацию, которая повлияла на результат выборов. Этот альбом сохранит будущим поколениям фотолетопись тех дней, когда народ Украины для защиты своих демократических прав собрался на главной площади в Киеве и на протяжении двух месяцев защищал свое право голоса и отстаивали справедливость.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="icon col-xs-6 col-md-4">
                                    <img class="book-img" src="{{ asset('img/books/kievxx.png') }}">
                                    <div class="book-img-list">
                                        <ul>
                                            <li>
                                                <a href="{{ asset('img/books/kievxx/razv_1_kievxx.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/kievxx/razv_1_kievxx.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kievxx/razv_2_kievxx.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/kievxx/razv_2_kievxx.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kievxx/razv_3_kievxx.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/kievxx/razv_3_kievxx.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kievxx/razv_4_kievxx.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/kievxx/razv_4_kievxx.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kievxx/razv_5_kievxx.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/kievxx/razv_5_kievxx.jpg') }}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('img/books/kievxx/razv_6_kievxx.jpg') }}" data-lightbox="takBook">
                                                    <img src="{{ asset('img/books/kievxx/razv_6_kievxx.jpg') }}">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description col-xs-11 col-md-7">
                                    <h4 class="title">Ретроальбом "Киев в ХХ веке. Летопись в фотографиях"</h4>
                                    <p><strong>2008г., 536 стр., формат 60х90/8, ЗАО "Книга", Киев</strong><br>Этот ретроальбом представляет летопись в фотографиях. книга с помощью редких фотографий рассказывает о наиболее важных и интересных событиях XX века, произошедших в Киеве. Более 2500 иллюстраций, фотографий, плакатов, репродукций и кадров кинохроники представляют историю Киева. Она будет интересна всем, кто хочет узнать историю столицы Украины за последние сто лет, кто хочет расширить свой кругозор, совершить витруальную экскурсию по улицам Киева прошлого века. Прошлое возвратить невозможно - его можно вспомнинать и сохранить.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </section>
    </main>
{% endblock %}
