{% extends 'base.html.twig' %}

{% block title 'Gallery' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {% set currentPage = 'gallery' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
            </div>
        </section>
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul id="gallery-filters">
                            {% for category in categoryList %}
                                <li data-filter=".filter-{{ category.id }}" data-cat-id="{{ category.id }}" class="{% if loop.first %}filter-active{% endif %}">
                                    <span class="gallery-filter-loader hidden">
                                        <span class="category-nav-loader">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            <span class="sr-only">Loading...</span>
                                        </span>
                                    </span>
                                    {{ category.name }}
                                </li>
                            {% endfor %}
                        </ul>
                        <div id="gallery-main-loader" class="text-center text-light hidden">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gallery-container" id="gallery-image-container">
                    {% for image in imageList %}
                        <div class="col-lg-4 col-md-6 gallery-item filter-{{ image.galleryCategoryId }} wow fadeInUp">
                            <div class="gallery-wrap">
                                <figure>
                                    <a href="{{ asset('img/')}}{{ image.path }}" data-lightbox="{{ image.galleryCategoryId }}" data-title="{{ image.name }} - {{ image.year }}">
                                        <img src="{{ asset('img/')}}{{ image.path }}" class="img-fluid" alt="">
                                    </a>
                                </figure>
                                <div class="gallery-info">
                                    <p>{{ image.name }}</p>
                                    <p>
                                        {% if image.material %}{{ image.material }}{% endif %}
                                        {% if image.size %} | {{ image.size }}{% endif %}
                                        {% if image.year %} | {{ image.year }} г.{% endif %}
                                    </p>
                                    {% if image.comment %}
                                        <p>{{ image.comment }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}
