<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

{#        <link href="{{ asset('img/favicon.ico') }}" rel="icon">#}
        <link href="{{ asset('img/favicon-96x96.png') }}" rel="icon">
        <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('main-css') }}
        {% endblock %}
        <title>
            {% block title %}Ashot{% endblock %}
        </title>
    </head>
    <body>
        {% block header %}
            {% set currentPage = currentPage is defined ? currentPage : 'index' %}
            <header id="header" class="header-scrolled">
                <div class="container-fluid">
                    <div id="logo" class="pull-left">
                        <h1><a href="#about" class="scrollto">Ашот Арутюнян</a></h1>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li {% if currentPage == 'index' %}class="menu-active"{% endif %}><a href="{{ path('index') }}">Об авторе</a></li>
                            <li {% if currentPage == 'gallery' %}class="menu-active"{% endif %}><a href="{{ path('gallery') }}">Галлерея</a></li>
                            <li {% if currentPage == 'technique' %}class="menu-active"{% endif %}><a href="{{ path('painting_technique') }}">Техника</a></li>
                            <li {% if currentPage == 'gift' %}class="menu-active"{% endif %}><a href="{{ path('elite_gift') }}">Элитный подарок</a></li>
                            <li {% if currentPage == 'restaurant' %}class="menu-active"{% endif %}><a href="{{ path('restaurant') }}">Ресторан Наполеон</a></li>
                            <li {% if currentPage == 'books' %}class="menu-active"{% endif %}><a href="{{ path('books') }}">Книги, фотоальбомы</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
            <footer id="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-8 footer-info">
                                <h3>Ашот Арутюнян</h3>
                                <p>Народный художник Армении, заслуженный деятель искусств</p>
                            </div>
                            <div class="col-lg-4 col-md-8 footer-links">
                                <h4>Меню</h4>
                                <ul>
                                    <li><a href="{{ path('index') }}">Об авторе</a></li>
                                    <li><a href="{{ path('gallery') }}">Галлерея</a></li>
                                    <li><a href="{{ path('painting_technique') }}">Техника</a></li>
                                    <li><a href="{{ path('elite_gift') }}">Элитный подарок</a></li>
                                    <li><a href="{{ path('restaurant') }}">Ресторан Наполеон</a></li>
                                    <li><a href="{{ path('books') }}">Книги, фотоальбомы</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-8 footer-contact">
                                <h4>Контакты</h4>
                                <p>
                                    Украина Киев <br>
                                    <strong>Phone:</strong> +38 050 940-19-80, +38 099 523-87-82<br>
                                    <strong>Email:</strong> ashot56@bigmir.net<br>
                                </p>
                                <div class="social-links">
                                    <a href="http://www.facebook.com/profile.php?id=100001259934042&sk=photos" class="facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="credits">
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </footer>

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('lib/isotope/isotope.pkgd.min.js') }}"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
